{% extends 'contacts/base.html' %}
{% load humanize %}
{% block content %}
    <section class="container content-section text-center">
        <h2>{{heading}}</h2>
        <p>{{ update }}</p>
        {% if content %}
            <p> {{ content }} </p>
        {% endif %}
        {% if contacts_list %}
        <div>
            <table class="table table-striped" style="width: 700px !important; margin: auto;">
                <p style="display:inline">Search by: </p><a href="/searchbyfname/">First Name</a> | <a href="/searchbylname/">Last Name</a> | <a href="/searchbypnumber/">Phone Number</a> | <a href="/searchbyemail/">Email</a>
                <thead>
                    <tr>
                        <th><a href="/contactsbyfname/">First Name</a></th>
                        <th><a href="/contactsbylname/">Last Name</a></th>
                        <th><a href="/contactsbypnumber/">Phone Number</a></th>
                        <th><a href="/contactsbyemail/">Email</a></th>
                        <th colspan="2">Tools</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts_list %}
                            <tr>
                                <td>{{ contact.first_name  }}</td>
                                <td>{{ contact.last_name }}</td>
                                <td>{{ contact.phone }}</td>
                                <td>{{ contact.email }}</td>
                                <td><a href="{% url 'contact' contact.id %}">Edit</a></td>
                                <td><a href="{% url 'delete' contact.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p><strong>No contacts are available.</strong></p>
        {% endif %}
        </div>
    </section>
{% endblock %}
