{% load humanize %}
{% include 'contacts/header.html' %}
<header class="intro">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{heading}}</h2>
                <p><div id="main" style="height:200px;">
    {% if content %}
        <p> {{ content }} </p>
    {% endif %}
    {% if contacts_list %}
        <table style="width:95%">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th colspan="2">Tools</th>
            </tr>
            {% for contact in contacts_list %}
                <tr>
                    <td>{{ contact.first_name  }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td><a href="{% url 'contact' contact.id %}">Edit</a></td>
                    <td><a href="{% url 'delete' contact.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><strong>No contacts are available.</strong></p>
    {% endif %}
    
</div></p>
            </div>
        </div>
    </section>
</header>
{% include 'contacts/footer.html' %}
