{% extends 'contacts/base.html' %}
{% block content %}
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{ heading }}</h2>
                <p> {{ content }} </p>
                {% if errors %}
                    <ul>
                        {% for error in errors %}
                            <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form role="form" action="{% url 'contact' contact.id %}" method="post" novalidate>
                {% csrf_token %}
                 <div class="container" id="login-form" style="max-width: 300px;">
                    <label for="first_name" name="first_name" >First Name</label>
                    <input id="firt_name" type="text" id="first_name" class="form-control" name="first_name" required autofocus value="{{ contact.first_name }}" ><br />
                    <label>Last Name</label>
                    <input id="last_name" type="text" name="last_name" class="form-control" required autofocus value="{{ contact.last_name }}" ><br />
                    <label>Phone #</label>
                    <input id="phone-number" maxlength="14" type="text" name="phone" class="form-control" required autofocus value="{{ contact.phone }}" required><br />
                    <label>Email</label>
                    <input id="email" type="text" name="email" class="form-control" required autofocus value="{{ contact.email }}" required><br />
                    <div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </div>
                 </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
