{% extends 'contacts/base.html' %}
{% block content %}
<section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="container" id="login-form" style="max-width: 450px;">
                    <h2 class="form-signin-heading">{{heading}}</h2>
                    <form class="form-signin" action="{% url 'loginProcess' %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        {% if errors %}
                           <ul style="list-style: none;">
                                {% for error in errors %}
                                    <li style="color:red;">{{ error }}</li>
                                {% endfor %}
                           </ul>
                        {% endif %}
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                        <label for="password" name="password" class="sr-only">Password</label>
                        <input type="password" name ="password" id="password" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}

