<div class= "navbar-wrapper">
    <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="/index/">
                        <i class="fa fa-play-circle"></i>  <span class="light">Address </span> Book
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                       <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="/index/"></a>
                        </li>

                        <!-- If user is authed, display Welcome, [User] and logout link, else, display login link -->
                        {% if user.is_authenticated %}
                        <li>
                                <a class="page-scroll" >Welcome, {{ user.username}} |</a>
                        </li>
                        <li>
                            <a class ="page-scroll" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class ="page-scroll" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}

                        <li>
                            <a class="page-scroll" href="/contacts/">View Contacts</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/addcontact/">Add Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
